Disaster_Response_Pipeline/models/.ipynb_checkpoints
Disaster_Response_Pipeline/app/.ipynb_checkpoints/run-checkpoint.py
Disaster_Response_Pipeline/models/.ipynb_checkpoints/train_classifier-checkpoint.py
Audiobook_business_case_project/.ipynb_checkpoints/Predicting_client_return-checkpoint.ipynb
.ipynb_checkpoints
Face Exp. Recogn/.ipynb_checkpoints
Face Exp. Recogn/__pycache__
Face Exp. Recogn/CNN_models_training/.ipynb_checkpoints